.ChangePassword {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: #171717;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
    transition: .2s linear;
  }
  
  .ChangePassword button {
    align-self: flex-end;
  }
  
  .ChangePassword:hover {
    transform: scale(1.1);
  }
  
  .ChangePassword .label {
    font-size: 14px;
    margin-bottom: -10.6px;
    color: white;
  }
  
  .ChangePassword .input {
    height: 25px;
    width: 100%;
    border: 0.5px solid white;
    background-color: transparent;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: .2s linear;
    position: relative;
  }
  
  .ChangePassword .input:focus {
    outline: none;
    background-color: rgba(173, 173, 173, 0.233);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.137);
  }
  
  .ChangePassword button {
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    transition: .2s linear;
  }
  
  .ChangePassword button:hover {
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 2px 2px 10px rgba(124, 124, 124, 0.192);
  }
  